html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/landingp1.jpg");
  background-size: cover;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.bg-green{
  background-color: rgb(124, 184, 124);
}

.flip-horizontal {
  transform: scaleX(-1);
}

.basketball-image{
  transform: rotate(20deg);
}

#centerTextBox {
  background-color: rgba(51, 51, 51, 0.6);
}

.navbar a {
  color: #12422b;
}

.bi {
  color: #12422b;
}

.navbar .nav-link {
  font-size: 1.1rem;
}

.navbar .dropdown-item {
  font-size: 1.1rem;
}

.search-container {
  position: relative;
  width: 100%;
}

/* push text to the right so it doesn't overlap icon */
.search-input {
  height: 50px;
  border-radius: 30px;
  padding-left: 40px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* move icon to LEFT side */
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}