html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/landingp1.jpg");
  background-size: cover;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.bg-green{
  background-color: rgb(124, 184, 124);
}

.flip-horizontal {
  transform: scaleX(-1);
}

.basketball-image{
  transform: rotate(20deg);
}

#centerTextBox {
  background-color: rgba(51, 51, 51, 0.6);
}

.navbar a {
  color: #12422b;
}

.bi {
  color: #12422b;
}

.navbar .nav-link {
  font-size: 1.1rem;
}

.navbar .dropdown-item {
  font-size: 1.1rem;
}
